# Common files.
# pycharm and mac os x files.
*.DS_Store
*.idea/
*.*~

# API files.
config.cfg
# Byte-compiled / optimized / DLL files
api/__pycache__/
*.py[cod]
# C extensions
*.so
*.swp
# Distribution / packaging
api/.Python
api/venv

# Questionnaire app files. 
# Node modules
web/node_modules

# Templates
web/app/templates/templates.min.js

# Views
web/app/views/views.min.js

# Models
web/app/models/models.min.js

# Bower components
web/bower_components

# Libs
web/app/assets/libs

