# pycharm and mac os x files.
.DS_Store
.idea/
app/.DS_Store

# Node modules
node_modules

# Templates
app/templates/*.js

# Views
app/views/views.min.js

# Models
app/models/models.min.js

# Bower components
bower_components

# Libs
app/assets/libs

