# Common files.
# pycharm and mac os x files.
*.DS_Store
*.idea/
*.*~

# API files.
config.cfg
# Byte-compiled / optimized / DLL files
api/__pycache__/
*.py[cod]
# C extensions
*.so
*.swp
# Distribution / packaging
api/.Python
api/venv

# Questionnaire app files. 
# Node modules
questionnaire_app/node_modules

# Templates
questionnaire_app/app/templates/*.js

# Views
questionnaire_app/app/views/views.min.js

# Models
questionnaire_app/app/models/models.min.js

# Bower components
questionnaire_app/bower_components

# Libs
questionnaire_app/app/assets/libs

