<div class="row">
    <div id="questionnaire" style="text-align: center; height:100%;width:100%">
        {{#each questions}}
            <div>
                <h2>
                    {{name}}
                </h2>
                <input type="radio" name="{{name}}" value="yes"> Yes
                <input type="radio" name="{{name}}" value="no"> No
                <input type="radio" name="{{name}}" value="no-answer"> No Answer
            </div>
            <br>
        {{/each}}
    </div>
</div>