<style>
    .questions {
        border-radius: 3px;
        height: auto;
        text-align: left;
        padding: 50px 50px 50px 30px;
        width: auto;
        margin: 0 40px 40px 40px;
        background-color: #fff;
        box-shadow: inset 0 0 7px black, 0 0 7px black;
        color: #000;
    }
</style>
<div id="questionnaire" style="text-align: center;">
     <div id="questions" class="questions">
         <div class="panel panel-primary">
            <div class="panel-heading">Your Top Three Matching Results</div>
            {{#each results}}
              <div class="panel-body">
                  <div class="text">{{this.partyName}}</div>
                  <div class="large-text">{{this.matchingResult}}</div>

              </div><hr>
            {{/each}}
          </div>
        <div>
     </div>
</div>