<style>
    .questions {
        border-radius: 3px;
        height: auto;
        text-align: left;
        padding: 50px 50px 50px 30px;
        width: auto;
        margin: 0 40px 40px 40px;
        background-color: #fff;
        box-shadow: inset 0 0 7px black, 0 0 7px black;
        color: #000;
    }
    td.details-control {
        background: url('/app/static/imgs/details_open.png') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('/app/static/imgs/details_close.png') no-repeat center center;
    }
    table{
        color: #0b3e6f !important;
    }
    .modal-content{
        background-color: #CCC;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
         setTimeout(function() {
            $("#loading-div").hide('blind', {}, 1000);
            $("#questionnaire").css('display', "block");
        }, 1000);

        var dataTbl = {{{json all_answers}}}; // we put three brackets to escape html encoding
        console.log(dataTbl);
        var table = $('#resultsTbl').DataTable( {
            "data": dataTbl,
            "columns": [
                {
                    "className":      'details-control',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                { "data": "name" }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Serbian.json"
            },
            "order": [[1, 'asc']]
        });

        // Add event listener for opening and closing details
        $('#resultsTbl tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( formatSubTable(row.data()) ).show();
                tr.addClass('shown');
            }
        });

    });


function formatSubTable ( d ) {

    var rowInjection = '';

    for(var party in d.parties){
        rowInjection = rowInjection +
        '<tr>'+
            '<td>' + party + '</td>'+
            '<td>' + d.parties[party]['answer'] + '</td>'+
            '<td>' + d.parties[party]['importance'] + '</td>'+
        '</tr>';
    }



     var tableHtml = '<table class="table" style="padding-left:50px; border: 1px">'
             + "<th>Party Name</th>"
             + '<th>Answer</th>'
             + '<th>Importance</th>'
             + rowInjection
             + '</table>';

    return tableHtml;
}
</script>
<div id="loading-div" style="width: 100%; height: 70%; text-align: center;">
    <img src="app/assets/img/loading.gif" style="height: 70px; width: 70px; margin-top: 10%;" name="loading">
</div>
<div id="questionnaire" style="text-align: center; display: none;">
    <br><br>
    <div id="questions" class="questions">
        <div class="panel panel-primary">
            <div class="panel-heading">Your Top 3 Matching Results</div>
            {{#each results}}
                <div class="panel-body">
                    <div class="quotes col-xs-5">
                        <div class="text" style="font-size: 20px;">{{this.partyName}}</div>
                        <div class="large-text" style="font-size: 4em; color: darkred;">{{this.matchingResult}}</div>
                    </div>
                    <div class="col-xs-7">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat."
                    </div>
                </div>
                <hr>
            {{/each}}
          </div>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#resultsModal">Show Comparison</button>

     </div>

</div>
<!-- Modal -->
<div id="resultsModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: #0b3e6f">Compare your answers</h4>
      </div>
      <div class="modal-body">
        <table id="resultsTbl" class="table table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Quiz questions made to political parties [ click <img src="/app/static/imgs/details_open.png"/> to see the comparison]</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Name</th>
                </tr>
            </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
